.hi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    margin: auto;
    width: 400px;
    height: 100px;
    background-color: lightgreen;
    text-align: center;
    font-size: 30px;
}